a.links-remove {
    color: var(--delete-color);
}

#relatedEntries-area ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#relatedEntries-area li {
    width: 50%;
    display: inline-block;
    font-weight: bold;
}

#relatedEntries-area li.right {
    text-align: right;
}